/* START THEME */
body[kui-theme="Light"] {
  --color-base00: #152934;
  --color-base01: #f5f7fa;
  --color-base02: #8c9ba5;
  --color-base03: #f0f3f6;
  --color-base04: #dfe3e6;
  --color-base05: var(--color-base00);
  --color-base06: var(--color-base01);
  --color-base07: #fff;
  --color-base08: #e71d32;
  --color-base09: #bf5b17;
  --color-base0A: hsl(48, 100%, 38%);
  --color-base0B: #5aa700;
  --color-base0C: #00b4a0;
  --color-base0D: #3d70b2;
  --color-base0E: #beaed4;
  --color-base0F: hsla(265, 31%, 50%, 1);

  --color-text-01: var(--color-base00);
  --color-text-02: #5a6872;

  --color-green: var(--color-base0B);
  --color-red: var(--color-base08);
  --color-light-red: rgba(231, 29, 50, 0.75);
  --color-light-green: rgba(97, 164, 38, 0.75);
  --color-light-yellow: #efc100;

  --color-hover-primary-text: #294c86;
  --color-content-divider: #0062ff;
  --color-tag-beta-fill: #dfe3e6;
  --color-tag-beta-text: #394b54;
  --color-tag-ibm-fill: #c0e6ff;
  --color-tag-ibm-text: #325c80;
  --color-stripe-01: #152935; /* 202 60 21 */
  --color-stripe-02: #0f212e; /* 205 67 18 */
  --color-text-against-dark-bg: var(--color-ui-02);
  --color-support-01: var(--color-red);
  --color-support-01-lighter: var(--color-light-red);
  --color-support-02: var(--color-green);
  --color-support-03: var(--color-light-yellow);
  --color-support-03-darker: var(--color-yellow);  /* dialed down from 47% lightness */
  --color-support-04: #5aaafa;
  --color-brand-01-10: hsla(214, 49%, 47%, 0.1); /* 10% opacity */
  --color-brand-02: #5596e6;
  --color-ui-01: var(--color-base07);
  --color-ui-04: var(--color-light-gray); /* 206 3 90 */
  --color-ui-05: var(--color-dark-gray); /* 204 15 65 */

  --color-black: var(--color-base07);
  --color-white: var(--color-base00);

  --color-scrollbar-thumb: #7A7B7D;
  --color-scrollbar-thumb-border: #A8AAAC;
  --color-scrollbar-thumb-outline: #FEFFFF;

  --color-selection-background: rgba(140, 155, 165, 0.40); /* color-ui-05 at reduced alpha */

  --color-carbon-components-h3: #3057d5;

  --color-ui-06: #f4f7fb; /* nick made up this signifier, it's not from carbon-components */
  --color-field-01: #f4f7fb;

  --color-processing: var(--color-base02);
  --color-ok: var(--color-green);
}
/* END THEME */

#wskflowContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
  font-weight: 400;
  position: relative;
  overflow: hidden; /* we will do pan and zoom ourselves */
  -webkit-app-region: no-drag;
}
#wskflowSVG {
  flex: 1;

  .node[data-deployed="not-deployed"]:hover,
  .node[data-deployed="not-deployed"]:hover .atom:not(.has-onclick) {
    /* no hover effects for not-deployed actions */
    text-decoration: none;
    cursor: inherit !important;
  }
  &[data-is-session-flow="true"] .node.leaf[data-status="not-run"] .atom {
    /* not-run nodes in a session flow */
    mask: url(#mask-stripe);
  }
  &[data-is-session-flow="true"] .node.leaf[data-status="not-run"] .atom,
  &[data-is-session-flow="true"] .node.leaf[data-status="not-run"] text {
    /* deemphasize not-visited nodes in session flow */
    opacity: 0.8;
  }
  .node .atom.atom {
    /* wskflow node effect */
    transition: fill 150ms ease-in-out, opacity 150ms ease-in-out, stroke 150ms ease-in-out;
    /* vector-effect: non-scaling-stroke; not supported by IE or Edge */
  }
  path {
    /* path effects */
    transition: fill 150ms ease-in-out, opacity 150ms ease-in-out, stroke 150ms ease-in-out;
    /*vector-effect: non-scaling-stroke; not supported by IE or Edge */
    stroke-width: 0.5; /* 1.5 with non-scaling stroke */
    stroke: var(--color-text-02) !important;
    stroke-opacity: 0.8;
  }
  path.link {
    fill: transparent;
  }
  #retryIconNormal path {
    /* the retry loop doesn't need a stroke */
    stroke: none !important;
    fill: var(--color-base09);
  }
  marker#greenEnd {
    fill: var(--color-green);
  }
  marker > path {
    /* for marker paths, we want just a faint shadow */
    stroke: rgba(0,0,0,0.25) !important;
  }

  path.hover, path:hover {
    stroke-width: 1;
  }

  .node.leaf.Entry .atom, .node.leaf.Exit .atom {
    fill: var(--color-text-01);
  }

  body[kui-theme-style="dark"] & .node.leaf.Entry .atom, body[kui-theme-style="dark"] & .node.leaf.Exit .atom {
    fill: var(--color-ui-01);
    stroke: var(--color-ui-03) !important;
  }

  .node.leaf.Entry text, .node.leaf.Exit text {
    fill: var(--color-ui-02) !important;
    font-weight: 300;
    font-variant: small-caps;
  }

  body[kui-theme-style="dark"] & .node.leaf.Entry text, body[kui-theme-style="dark"] & .node.leaf.Exit text {
    fill: var(--color-text-02) !important;
  }

  .node .atom {
    fill: var(--color-base02);
  }
  body[kui-theme-style="dark"] & .node .atom {
    fill: var(--color-base03);
  }
  body[kui-theme-style="dark"] & .node.leaf .atom {
    stroke: var(--color-base02) !important;
  }
  body[kui-theme-style="dark"] & .node[data-deployed="not-deployed"] .atom {
    opacity: 0.7;
  }
  .node .atom ~ text {
    fill: var(--color-text-01);
  }
  path[data-visited="true"] {
    /* visited edges */
    stroke: var(--color-base0D) !important;
    stroke-width: 1.1;
    marker-end: url(#edgeTraversedEnd);
  }
  path[data-visited="false"] {
    /* not-visited edges */
    stroke-dasharray: 1;
    opacity: 0.8;
  }

  marker#end {
    fill: var(--color-text-02);
  }

  .node.compound:not(.root)[data-status="success"] .atom {
    stroke: var(--color-ok) !important;
  }
  .node.compound:not(.root)[data-status="failed"] .atom {
    stroke: var(--color-support-01) !important;
  }

  .node.leaf[data-status="success"] .atom {
    /* visited nodes with success outcome */
    /* fill: var(--color-base0D) !important; */
    stroke: var(--color-text-01) !important;
  }
  body[kui-theme-style="dark"] & .node.leaf[data-status="success"] .atom {
    mask: url(#mask-stripe-heavy);
  }
  marker#edgeTraversedEnd {
    fill: var(--color-base0D);
  }
  .node.leaf[data-status="failed"] .atom {
    /* visited nodes with failure outcome */
    fill: var(--color-support-01) !important;
  }
  .node.leaf.Exit[data-status="failed"] text, .node.leaf[data-status="failed"] text {
    /* visited node text for session flow */
    fill: var(--color-ui-01) !important;
  }

  .node.leaf .atom {
    stroke: var(--color-text-01) !important;
    stroke-width: 0.5; /* 2 with vector-effects: non-scaling stroke support */
  }
  .node.leaf .atom {
    stroke: var(--color-text-01) !important;
  }
  .node .atom.has-onclick:hover, .node .atom.has-onclick.hover {
    fill: var(--color-base0D) !important;
  }
  .node[data-deployed="not-deployed"] .atom {
    mask: url(#mask-stripe);
    fill: var(--color-base04) !important;
  }

  .node.compound:not(.root) .atom.has-onclick:hover, .node.compound:not(.root) .atom.has-onclick.hover {
    /* stroke-dasharray: 0.5,1; */
    stroke: var(--color-base0D) !important;
  }
  .node.compound:not(.root) .atom {
    /* stroke-dasharray: 0.25,0.25; */
    stroke-width: 0.5;
    stroke: var(--color-ui-04) !important;
    fill: var(--color-base03) !important;
    fill-opacity: 0.05;
    rx: 4px;
  }
  .node.compound text {
    font-weight: 500;
    fill: var(--color-base09);
  }
}

/* qtip rules */
#qtip {
  transition: opacity 150ms ease-in-out;
  transition-delay: 100ms;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 10;
  position: absolute;
  pointer-events: none;

  /* see shell issue #906 */
  top: 0;
  left: 0;

  #qtipArrow {
    position: relative;
    left: 3px;
    top: 1px;
    color: var(--color-stripe-02);
  }
  #qtipContent {
    background-color: var(--color-stripe-02);
    box-shadow: 0 0 0.5ex var(--color-base03);
    color: var(--color-text-against-dark-bg);
    font-size: 0.75em;
    padding: 1ex;
    /*display: flex;
    flex-wrap: wrap;*/
    margin: 0px;
    margin-right: 1ex; /* don't get all squished up against the right-end edge of the window */
    word-wrap: break-word;
  }

  &.visible {
    opacity: 0.975;
  }
  &.qtip-pre #qtipContent {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    display: initial !important; /* override display: flex */
  }
  .qtip-prefix {
    font-weight: bold;
  }
  .qtip-prefix.red-text {
    filter: brightness(1.5);          /* make it more legible against the qtip background */
    padding-right: 5px;
  }
}
